body {
    color: #434455;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff ;
}

ul { list-style: none;}
a{ text-decoration: none;}
button{ cursor: pointer;}

/*logo*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    color: #4D5AE5;
    text-transform: uppercase;
}

.accent-logo {
    font-family: Raleway, sans-serif;
    color: #2e2f42;
}

.menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

 /*contacts*/
 .contacts {
    font-style: normal;
 }

 .contacts-link {
     color: #434455;
     text-decoration: none;
 }

 .contacts-link:hover,
 .contacts-link:focus {
     color: #404bbf;
 }

 /* hero*/
 .hero {
     background: #2E2F42;
 }

 .hero-title {
     color: #ffffff;

     font-style: normal;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
 }

 .hero-button {
     color: #ffffff;
     font-weight: 500;

     letter-spacing: 0.04em;
     background-color: #4D5AE5;
     font-size: 16px;
     line-height: 1.5;
     cursor: pointer;
 }
 .hero-button:hover,
 .hero-button:focus{
    background-color: #404BBF;
 }

 /*section*/
 
 .section-title {
     color: #2e2f42;

     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     
     
 }

 /*benefits*/
 .benefits-list .title {
     color: #434455;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .benefits-list .text{
    color: #434455;
 }

 /*team*/
 .section-team {
     background: #F4F4FD;
 }
 .section-team .section-title{
    text-align: center;
    text-transform: capitalize;
 }
 .team-item{
     background-color: #FFFFFF
 }

 .team-list .title {
    color: #2e2f42;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-transform: capitalize;
 }

 .team-list .text {
     color: #434455;
 }

.section-title-portfolio{
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

 .portfolio-list .title {
     color: #2E2F42;
     letter-spacing: 0.02em;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
    text-transform: capitalize;
 }

 .portfolio-list .text {
     color: #434455;
    letter-spacing: 0.02em;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
    
 }

 /* footer*/
 .footer {
    background-color: #2E2F42;;
 }

 .footer-text {
     color: #F4F4FD;
 }

 .footer-logo {
     color: #f4f4fd;
     font-family: "Raleway", sans-serif;
     font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;

    
 }

 .footer-accent-logo{ 
    color: #4d5ae5}