/* основний колір тексту #2E2F42 */
/* другорядний колір #434455 */
/* білий  #FFFFFF */
/* білий, текст #E7E9FC  */
/* акцент #4D5AE5 */

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --white-color: #ffffff;
    --white-text-color: #E7E9FC;
    --button-bg-color: #F4F4FD;
}

body {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

ul { list-style: none;}
a{ text-decoration: none;}
button{ cursor: pointer;}

/*logo*/
.logo {
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    color: var(--title-text-color);
}

.accent-logo {
    font-family: Raleway;
    color: var(--accent-color);
}

.menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

 /*contacts*/
 .contacts-link {
     color: var(--primary-text-color);
     text-decoration: none;
 }

 .contacts-link:hover,
 .contacts-link:focus {
     color: var(--accent-color);
 }

 /* hero*/
 .hero {
     background: var(--title-text-color);
 }

 .hero-title {
     color: var(--white-color);

     font-style: normal;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     text-align: center;
 }

 .button-hero {
     color: var(--white-color);

     letter-spacing: 0.04em;
     background: var(--accent-color);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     align-items: center;
     cursor: pointer;
 }

 /*section*/
 .section-title {
     color: var(--title-text-color);

     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
 }

 /*benefits*/
 .benefits-list .title {
     color: var(--title-text-color);

     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
 }

 /*team*/
 .team-list .title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     text-align: center;
 }

 .team-list .text {
     text-align: center;
 }

 .portfolio-list .title {
     color: var(--title-text-color);

     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
 }

 .portfolio-list .text {
     color: var(--primary-text-color);

     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
 }

 /* footer*/
 .footer {
     background-color: var(--title-text-color);
 }

 .footer-text {
     color: var(--white-text-color);
 }

 .footer-logo {
     color: var(--button-bg-color);
     font-family: Raleway;
 }